<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTt7iIfORrqjhD4Bt2zhXxq6dYUrqZvNg</string>
	<key>GCM_SENDER_ID</key>
	<string>395057507349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sysc3010.MyPixelPet</string>
	<key>PROJECT_ID</key>
	<string>sysc-3010-l2g2</string>
	<key>STORAGE_BUCKET</key>
	<string>sysc-3010-l2g2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395057507349:ios:d211a407a588926406b21c</string>
	<key>DATABASE_URL</key>
	<string>https://sysc-3010-l2g2-default-rtdb.firebaseio.com</string>
</dict>
</plist>